<h2 mat-dialog-title>Remove device</h2>
<mat-dialog-content *ngIf="!loading; else loadingTemplate">
  <h2 class="title">Are you sure?</h2>
  <p>
    The device "<b>{{ data.device.partNumber }}</b
    >" will be removed from the system. This action is not reversible.
  </p>
</mat-dialog-content>
<ng-template #loadingTemplate>
  <div class="loading">
    <mat-spinner />
  </div>
</ng-template>
<mat-dialog-actions align="end">
  <button [disabled]="loading" mat-flat-button (click)="onCloseClick()">
    Cancel
  </button>
  <button
    [disabled]="loading"
    mat-flat-button
    color="warn"
    (click)="onConfirmClick()"
  >
    Confirm
  </button>
</mat-dialog-actions>
