<div class="page devices">
  <header>
    <div class="left">
      <h1>Devices</h1>
      <small>A list of devices registered on the system</small>
    </div>
    <button color="primary" (click)="openCreateDialog()" mat-raised-button>
      <mat-icon fontIcon="add" />
      Create device
    </button>
  </header>
  <main>
    <mat-card appearance="outlined">
      <mat-card-content>
        <header>
          <div class="filters">
            <mat-form-field appearance="outline">
              <mat-label>Search</mat-label>
              <input
                placeholder="Color or category name"
                matInput
                formControlName="name"
              />
              <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
            <button mat-flat-button>Search</button>
          </div>
          <div class="modifiers"></div>
        </header>
        <mat-divider />

        <table
          *ngIf="!loadingTable; else loadingTemplate"
          mat-table
          [dataSource]="dataSource"
        >
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef>Color</th>
            <td mat-cell *matCellDef="let element">{{ element.color }}</td>
          </ng-container>

          <!-- PartNumber Column -->
          <ng-container matColumnDef="partNumber">
            <th mat-header-cell *matHeaderCellDef>PartNumber</th>
            <td mat-cell *matCellDef="let element">{{ element.partNumber }}</td>
          </ng-container>

          <!-- Category Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let element">
              <app-category-tag [category]="element.category.name" />
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <button
                (click)="openDetailsDialog(element)"
                matTooltip="See details"
                mat-button
              >
                <mat-icon fontIcon="visibility" />
              </button>
              <button matTooltip="Edit category" mat-button>
                <mat-icon fontIcon="edit" />
              </button>
              <button
                (click)="openeDeleteDialog(element)"
                matTooltip="Remove category"
                mat-button
              >
                <mat-icon fontIcon="close" />
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <ng-template #loadingTemplate>
          <mat-spinner />
        </ng-template>

        <mat-paginator
          [disabled]="loadingTable"
          (page)="onSelectPage($event)"
          [length]="totalItems"
          [pageSize]="pageSize"
          [pageSizeOptions]="[1, 5, 10, 25, 50]"
          aria-label="Select page"
        >
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </main>
</div>
