@use "colors" as colors;

.page.devices {
  > header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;

    .left {
      h1 {
        color: colors.$primary;
        margin-bottom: 0;
        font-weight: bold;
      }

      small {
        color: colors.$neutral-2;
      }
    }
  }
  .mat-column-actions {
    width: 230px;
  }

  .loading-table {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 3rem;
  }

  .table-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2rem;
  }
}
