<mat-card>
  <mat-card-content>
    <form class="component login" [formGroup]="formValidator">
      <h1>Device central</h1>
      <small>Your place for managing phones and notebooks</small>
      <mat-form-field appearance="outline" class="field">
        <mat-label>E-mail</mat-label>
        <input
          placeholder="Insira seu e-mail"
          matInput
          formControlName="email"
        />
        <mat-error *ngIf="isInvalid('email')">
          {{ getFieldError("email") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Senha</mat-label>
        <input
          type="password"
          placeholder="Insira seu e-mail"
          matInput
          formControlName="password"
        />
        <mat-error *ngIf="isInvalid('password')">
          {{ getFieldError("password") }}
        </mat-error>
      </mat-form-field>

      <small class="access">
        <b>{{ "userA@email.com" }}</b> - 123
      </small>

      <p>
        A project made by
        <a href="https://github.com/Radpc" target="_blank">Matheus M.</a>
      </p>

      <div class="buttons">
        <button type="button" mat-stroked-button>Register</button>
        <button
          type="button"
          (click)="onSubmitLogin()"
          mat-flat-button
          color="primary"
        >
          Login
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
