.layout.dashboard {
  display: flex;
  flex-direction: column;

  .layout-content {
    display: flex;
    flex-grow: 1;
    align-items: stretch;

    .page-content {
      display: flex;
      flex-direction: column;
      overflow: auto;
      flex-grow: 1;
      padding: 2rem;
      box-sizing: border-box;
      background-color: lightgray;
    }
  }
}
