.layout.dashboard {
  display: flex;
  flex-direction: column;

  .layout-content {
    display: flex;
    flex-grow: 1;
    align-items: stretch;

    .page-content {
      display: flex;
      flex-direction: column;
      overflow: auto;
      flex-grow: 1;
      padding: 2rem;
      box-sizing: border-box;
      background-image: radial-gradient(
        circle 588px at 31.7% 40.2%,
        rgba(225, 200, 239, 1) 21.4%,
        rgba(163, 225, 233, 1) 57.1%
      );
    }
  }
}
