/* You can add global styles to this file, and also import other style files */
@import "styles/reset.css";
@import "styles/global.scss";
@import "styles/styleguide.scss";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Material styles
.mdc-data-table__cell,
.mdc-data-table__header-cell {
  align-content: center;
}
