<div class="page device-categories">
  <header>
    <div class="left">
      <h1>Device categories</h1>
      <small>A list of device categories registered on the system</small>
    </div>
    <button (click)="openCreateDialog()" color="primary" mat-raised-button>
      <mat-icon fontIcon="add" />
      Create category
    </button>
  </header>
  <main>
    <mat-card appearance="outlined">
      <mat-card-content>
        <header>
          <!-- <div class="filters">
            <mat-form-field appearance="outline">
              <mat-label>Search</mat-label>
              <input placeholder="Name" matInput formControlName="name" />
              <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
            <button mat-flat-button>Search</button>
          </div> -->
          <div class="modifiers"></div>
        </header>

        <table
          *ngIf="!loadingTable; else loadingTemplate"
          mat-table
          [dataSource]="dataSource"
        >
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">#{{ element.id }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- CreatedAt Column -->
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef>Created at</th>
            <td mat-cell *matCellDef="let element">
              {{ formatDate(element.createdAt) }}
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <button
                (click)="openDetailsDialog(element)"
                matTooltip="See details"
                mat-button
              >
                <mat-icon fontIcon="visibility" />
              </button>
              <button
                (click)="openEditDialog(element)"
                matTooltip="Edit category"
                mat-button
              >
                <mat-icon fontIcon="edit" />
              </button>
              <button
                (click)="openeDeleteDialog(element)"
                matTooltip="Remove category"
                mat-button
              >
                <mat-icon fontIcon="close" />
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <div class="table-error" *ngIf="!loadingTable && tableError">
          <h1>An error has occurred</h1>
          <small>The table content could not be loaded right now.</small>
          <small
            >Please check your internet access and/or contact the
            developer</small
          >
        </div>

        <ng-template #loadingTemplate>
          <div class="loading-table">
            <mat-spinner />
          </div>
        </ng-template>

        <mat-paginator
          [disabled]="loadingTable"
          (page)="onSelectPage($event)"
          [length]="totalItems"
          [pageSize]="pageSize"
          [pageSizeOptions]="[1, 5, 10, 25, 50]"
          aria-label="Select page"
        >
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </main>
</div>
