@use "colors" as colors;

.component.category-tag {
  display: inline;
  align-items: center;
  background-color: rgba(colors.$primary, 0.3);
  padding: 0.1rem 0.4rem;
  border-radius: 0.6rem;

  .icon {
    font-size: 12px;
    height: 12px;
    width: 12px;
    margin-right: 0.5rem;
  }

  span {
    font-weight: 500;
  }
}
